<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/dist/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/assets/dist/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/login.css" />

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta property="og:Name" content="My website Name" />
    <meta property="og:Price" content="Summary of the contents of the page you are viewing" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

    <title>Harmony Resort | Login</title>
  </head>

  <body>

  </body>

  </html>